@use 'variables' as *;
@use 'mixins' as *;

body {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: $text-color;
}

.containerHeader {
    @include center;
    top: 0;
    position: fixed;
    background-color: $secondary-color;
    flex-flow: row wrap;
    width: 100%;
    color: black;
    justify-content: space-around;
    box-shadow: 0px 2px 10px $secondary-color;
    .btnFav {
        border: 0px;
        background: none;
    }
}

.containerSearch {
    @include center;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    margin-top: 46px;
    background-color: rgb(255, 153, 0);
    padding: 10px;

    .searchInput {
        width: 50%;
        font-family: inherit;
        letter-spacing: inherit;
        box-sizing: content-box;
        padding: 6px 20px;
        background-color: $text-color;
        border-radius: 8px;
        border: 0px;
        margin-bottom: 8px
    }

    .containerRadiosSearch {
        @include center;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 100%;
        .radiosSearch {
            color: $brackGround;
            margin-right: 4px;
        }
    }

    .btnSearch {
        border: 0;
        padding: 12px 50px;
        border-radius: 12px;
        color: black;
        background-image: linear-gradient(rgba(255, 255, 255, 0.05), $secondary-color);
        box-shadow: rgba(0, 0, 0, 0.2) 2px 4px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    }

}
