@use 'variables' as *;
@use 'mixins' as *;

body {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: $text-color;
}

.containerHeader {
    @include center;
    top: 0;
    position: fixed;
    background-color: $secondary-color;
    flex-flow: row wrap;
    width: 100%;
    color: black;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    
    .btnFav {
        border: 0px;
        background: none;
    }
}

.containerSearch {
    @include center;
    flex-flow: column wrap;
    justify-content: center;
    width: 80%;
    margin-top: 60px;
    margin-left: 30px;

    .searchInput {
        width: 50%;
        font-family: inherit;
        letter-spacing: inherit;
        box-sizing: content-box;
        padding: 6px 20px;
        background-color: $text-color;
        border-radius: 8px;
        border: 0px;
    }

    .containerRadiosSearch {
        @include center;
        flex-flow: row nowrap;
        justify-content: space-around;
        .radiosSearch:checked {
            color: $brackGround;
        }
    }

    .btnSearch {
        border: 1px solid $secondary-color;
        color: $primary-color;
        padding: 4px 14px;
        background-image: linear-gradient(rgba(255, 255, 255, 0.05), #FF8800);
    }

}

.searchInput:hover {
    border: 1px solid $brackGround;
}
