@use 'variables' as *;
@use 'mixins' as *;

.containerRecipes {
    margin-top: 50px;
    margin-bottom: 70px;

    .containerCategoryBtn {
        @include center;
        flex-flow: row wrap;
        justify-content: flex-start;
        gap: 30px;
        margin-top: 60px;
        .divCategory {
            margin-left: 6px;
            .btnCategory {
                border: 0;
                background-color: $secondary-color;
                padding: 12px 50px;
                border-radius: 12px;
                color: $primary-color;
            }
        }
    }

    

    .containerAll {
        @include center;
        flex-flow: row nowrap;
        justify-content: center;
        text-align: center;
        margin-top: 12px;
        .btnAll {
            border: 0;
            background-color: $secondary-color;
            padding: 12px 50px;
            border-radius: 12px;
            color: $primary-color;
        }
    }

}


.containerFoods {
    @include center;
    margin-top: 20px;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 30px;
    .wrapImg {
        @include center;
        flex-flow: row wrap;
        width: 40%;
        text-align: center;
        box-shadow: 4px 8px 10px black;
        border-radius: 12px;
        .titileFood {
            color: $secondary-color;
            font-size: 24px;
        }
        .imgFood {
            width: 144px;
            border-style: hidden;
            border-radius: 12px;
        }
    }
}