@use 'variables' as *;
@use 'mixins' as *;

.containerRecipes {
    margin-top: 50px;
    margin-bottom: 50px;

    .containerCategoryBtn {
        @include center;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        padding: 8px;
    }

    .btnCategory {
        border: 1px solid $borderColor;
        color: $secondary-color;
        padding: 2px;
    }

    .btnCategory:hover {
        border: 1px solid rgb(251, 255, 0);
        color: #ffb35d;
        background-color: $primary-color;
    }

}

.containerAll {
    @include center;
    flex-flow: row nowrap;
    justify-content: center;
}

.containerFoods {
    @include center;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;

    .wrapImg {
        @include center;
        flex-flow: row nowrap;
        width: 40%;
        text-align: center;
        text-decoration: none;
        margin-left: 22px;
        .titileFood {
            color: $secondary-color;
            font-size: 16px;
        }
        .imgFood {
            width: 100px;
        }
    }
}