@use 'variables' as *;
@use 'mixins' as *;

.containerProfile {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 10px;
    text-align: center;
    .emailProf {
        color: $secondary-color;
        font-size: 40px;
        margin-bottom: 20px;
    }

    .wrapBtn {
        @include center;
        flex-flow: column;
        justify-content: center;
        .btnPages {
            border: 0;
            background-color: $secondary-color;
            padding: 12px 80px;
            border-radius: 12px;
            color: $primary-color;
            margin-bottom: 20px;
        }
    }
}